.textError {
  color: green;
  display: flex;
  justify-content: center;
}

.imgError {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 150px;
  margin-bottom: 290px;
}

@media screen and (max-width: 600px) {
  .textError {
    margin-top: 150px;
  }
}
