@media screen and (max-width: 599px) {
  .burgerVisible {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 16px;
    margin-right: 16px;
  }
}

.bm-item {
  display: inline-block;
  font-size: 23px;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 50px;
  color: rgba(255, 153, 0, 1);
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  display: block;
  position: relative;
  margin: 16px;
  width: 33px;
  height: 28px;
  z-index: 100;
  user-select: none;
  cursor: pointer;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */

.bm-menu {
  display: flex;
  justify-content: center;
  background: rgba(0, 111, 11, 1);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

.bm-menu-wrap {
  top: 110px;
  left: 90px;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.bm-overlay {
  display: none;
}
