/* Paniers.css */

.panierCard {
  width: 400px;
  height: 520px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.panierCardPicture {
}

.panierCard img {
  object-fit: cover;
  width: 100%;
  height: 200px; /* Taille fixe pour l'image */
}

.panierCardInfo {
  padding: 20px;
  height: 320px; /* Taille fixe pour la div contenant le nom, le prix et le bouton */
  display: flex;
  flex-direction: column;
  align-items: center;
}
