body {
  margin: 0;
}

.bigImg {
  margin-top: 25px;
  width: 100%;
  object-fit: cover;
  border-radius: 0;
  z-index: 0;
}

.smallImg {
  position: relative;
  border-radius: 40px;
}

.centeredImage {
  position: absolute;
  transform: translate(-50%, -50%);
}

.name {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: white;
}

.rectangle {
  border-radius: 40px;
  background: #006f0b;
  position: relative;
}

.separate {
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.price {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: white;
  font-weight: bolder;
}

.quantity {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: white;
}

.description {
  position: relative;
  text-align: center;
  color: black;
  font-weight: bolder;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 40rem;
}

@media only screen and (min-width: 1325px) {
  .bigImg {
    height: 30vh;
  }

  .smallImg {
    width: 300px;
    height: 250px;
  }

  .centeredImage {
    top: 80%;
    left: 50%;
  }

  .name {
    margin: -100px auto 0 auto;
  }

  .rectangle {
    width: 700px;
    height: 200px;
    margin: -100px auto 0 auto;
  }

  .separate {
    width: 10px;
    height: 60px;
    margin: -140px auto 0 auto;
  }

  .price {
    margin: -25px auto 0 -225px;
    font-size: 25px;
  }

  .quantity {
    margin: 25px auto 0 225px;
    font-size: 25px;
  }

  .description {
    bottom: -550px;
    font-size: 20px;
    max-width: 80%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1325px) {
  .bigImg {
    height: 30vh;
  }

  .smallImg {
    width: 300px;
    height: 250px;
  }

  .centeredImage {
    top: 80%;
    left: 50%;
  }

  .name {
    margin: -100px auto 0 auto;
  }

  .rectangle {
    width: 700px;
    height: 200px;
    margin: -100px auto 0 auto;
  }

  .separate {
    width: 10px;
    height: 60px;
    margin: -140px auto 0 auto;
  }

  .price {
    margin: -25px auto 0 -225px;
    font-size: 25px;
  }

  .quantity {
    margin: 25px auto 0 225px;
    font-size: 25px;
  }

  .description {
    bottom: -550px;
    font-size: 20px;
    max-width: 80%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .bigImg {
    height: 30vh;
  }

  .smallImg {
    width: 250px;
    height: 200px;
  }

  .centeredImage {
    top: 70%;
    left: 50%;
  }

  .name {
    margin: -80px auto 0 auto;
    font-size: 20px;
  }

  .rectangle {
    width: 500px;
    height: 150px;
    margin: -100px auto 0 auto;
  }

  .separate {
    width: 7px;
    height: 40px;
    margin: -100px auto 0 auto;
  }

  .price {
    margin: -25px auto 0 -225px;
    font-size: 20px;
  }

  .quantity {
    margin: 25px auto 0 225px;
    font-size: 20px;
  }

  .description {
    bottom: -370px;
    font-size: 16px;
    max-width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .bigImg {
    height: 20vh;
  }

  .smallImg {
    width: 225px;
    height: 175px;
  }

  .centeredImage {
    top: 42%;
    left: 50%;
  }

  .name {
    margin: -60px auto 0 auto;
    font-size: 17px;
  }

  .rectangle {
    width: 400px;
    height: 125px;
    margin: -70px auto 0 auto;
  }

  .separate {
    width: 5px;
    height: 30px;
    margin: -90px auto 0 auto;
  }

  .price {
    margin: -20px auto 0 -225px;
    font-size: 17px;
  }

  .quantity {
    margin: 17px auto 0 225px;
    font-size: 17px;
  }

  .description {
    bottom: -300px;
    font-size: 14px;
    max-width: 80%;
  }
}
