.titleRecipe {
  color: green;
  display: flex;
  justify-content: center;
}

.containerRecipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 12rem;
}

@media screen and (max-width: 600px) {
  .titleRecipe {
    margin-top: 150px;
  }
}
